body {
    background-image: url(images/bg-image1.jpg);
    background-size: cover;
    color: white;
}
.black-font {
    color: black;
}
.white-font {
    color: white;
}
.container-size {
    height: 800px;
}
.main-size {
    margin: 0 auto;
    width: 500px;
}
.center {
    text-align: center;
    padding: 20px;
}